<!-- <script>
    function activatePlacesSearch() {
        var input = document.getElementById('search__term');
        var autocomplete = new google.maps.places.Autocomplete(input);
    }
</script> -->

<!-- Google autocomplete api -->
<!-- <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBViPksJ5V993T1QOXq3TZqDKMux6t3eq0&libraries=places&callback=activatePlacesSearch"> -->
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script src="javascripts/main.js"></script>
</body>

</html>