<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <!-- <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.css' rel='stylesheet' /> -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBViPksJ5V993T1QOXq3TZqDKMux6t3eq0&callback=initMap&libraries=places&v=weekly" defer></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Whether -
        <%- title %>
    </title>
</head>

<body>

    <div class="video-container">
        <video autoplay loop muted class="video-bg" id="video-bg">
              <source src="videos/sunny_main.mp4" type="video/webm" alt="HTML5 background video">
            </video>
    </div>